html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    background-image: url("../images/fondo-image.jpg");
    background-size: cover;
}

#contenedor-inicio{
    /*padding: 1px 0;*/
    height: 60%;
    width: 70%;
    background-color: rgba(0,0,0,0.8);
    margin: 70px auto;
    color: #fff;
    font-family: "Comfortaa", "Helvetica", sans-serif;
    position: relative;
    padding: 10px;
}
.ocultar{
	display: none !important;
}
.mostrar{
	display: block;
}

#titulo-inicio{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 25%;
    position: absolute;
    color: teal;
}

#contenido-inicio{
    display: block;
    font-size: 17px;
    text-align: center;
    margin-top: 90px !important;
    
}





