*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    /*padding: 1px 0;*/
    height: 100% !important;
    width: 100% !important;
    background-image: url("../images/gobirthday.jpg")!important;
    background-size: cover !important;
    color: #fff;
    font-family: "Comfortaa", "Helvetica", sans-serif;
}

.login{
    max-width: 300px;
    min-height: 460px;
    margin: 30px auto;
    background-color: rgba(10,10,10,.9);
}

#login-registro{
    max-width: 300px;
    min-height: 400px;
    margin: 30px auto;
    background-color: rgba(10,10,10,.9);
}

.login-icon-field {
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.login-icon {
    margin: 15px 15px;
}

#imagenPokeball{
    width: 150px;
    height: 150px;
    margin: auto;
    background-image: url("../images/pokeball.png");
    background-repeat: round;
}

#logo{
    background-image: url("../images/pokemon-logo.webp");
    width: 300px;
    height: 160px;
    background-repeat: round;
    float: left;
    margin-left: 40px;
    margin-top: 40px;
}

.login-form {
    padding: 8px 20px 20px;
    height: 120px;
    width: 100%;
    /*background-color: green;*/
}

#registro-form {
    padding: 8px 20px 20px;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    /*background-color: green;*/
}
#unete{
    text-align: center !important;
    margin-top: 25px;
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

#acciones{
    margin-top: 55px;
}
#acciones p{
    margin-top: 70px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-weight: bold;

}

.row {
    display: none;
}

.username-row {
    position: relative;
    height: 40px;
    /*background-color: pink;*/
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.password-row {
    position: relative;
    height: 40px;
    /* background-color: grey;*/
    border-bottom: 1px solid;
}

.password-icon,
.user-icon {
    margin: 5px;
}

.password-icon .key-path,
.user-icon .user-path{
    fill: rgba(10,10,10,0);
    stroke: #fff;
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: dash 1s .1s linear forwards;
    animation: dash 3s .3s linear forwards;
}

.user-icon, .user-path {
    -webkit-animation: dash 1s .4s linear forwards;
    animation: dash 1s .4s linear forwards;
}

.container input {
    position: absolute;
    width: 195px;
    height: 30px;
    margin: 5px 0;
    background: transparent;
    border: none;
    color: #fff;
}

input:focus,
.btnEfecto:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: rgba(255,255,255,.4);
}

input::-moz-placeholder {
    color: rgba(255,255,255,.4);
}

.call-to-action {
    margin: 0px 0;
    height: 130px;
    width: 100%;
    /*background-color: blue;*/
}
.call-to-action p{
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
    width: 100%;
    font-weight: bold;
}

input[type="submit"] {
    display: block;
    width: 240px;
    height: 40px;
    padding: 0;
    margin: 10px 20px 10px;
    font-weight: 700;
    color: #fff;
    background-color: #22c08a;
    border: none;
    border-radius: 20px;
    transition: background-color .1s ease-in-out;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.btnEfecto:hover {
    background-color: #26d69a;
    font-weight: bold;
}

.btnEfecto:active {
    background-color: #1eaa7a;
}

p {
    display: inline-block;
    width: 200px;
    margin: 0 40px;
    font-size: .8rem;
    color: rgba(255,255,255,.4);
    /*background-color: yellow;*/
}

p a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

label, p a:hover {
    -webkit-cursor: pointer;
    cursor: pointer;
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}


