html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    background-color: #F8FAFA !important ;
    /*background-size: cover;*/
}
#imagen-perfil{
	
	margin: 30px auto;
	width: 80%;
	height: 35%;
}
#imagen-perfil img{
	width: 100%;
	height: 100%;
}
#modal > p{
    position: absolute;
    bottom:-20%;
    color: #fff;
    left: 50%;
}
#contenedorModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0; 
    left: 0;
    text-align: center;
    margin: auto;
}

#contenedor-img-modal{
    width: 100%;
    position: absolute;
    bottom: 10%;
}
#modal{
    width: 350px; 
    height: 190px; 
    font-size: 30px; 
    font-weight: bold;  
    text-align: center;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 33%;
    transform: translateY(-50%);
}
#contenedor-perfil{
    /*background-color: #fff;*/
    font-family: "Comfortaa", "Helvetica", sans-serif;
    height: 100%;
    overflow: hidden;
    width: 70%;
    margin:auto;
    position: relative;
}
.ocultar{
	display: none !important;
}
.mostrar{
	display: block;
}

#datos-perfil{
    width: 30%;
    background-color:#DEEAE2;
    height: 100%;
    position: absolute;
}

#pokemons-perfil{
    width: 70%;
    background-image: url(../images/imagenFondo.jpg);
    height: 100%;
    margin-left: 30%;
    text-align: center;
    overflow: scroll;
    padding: 10px;
}

#titulo-perfil{
    text-align: center;
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 2px 2px 4px 4px #000;
    border-radius: 5px;
    background-color: #F5E3D6;
    height: auto;
    /*font-size: 30px;*/
    /*font-size: 25px;*/
    /*    position: relative;*/
    /*overflow: hidden;*/
}

#titulo-pokemons{
    text-align: center;
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 2px 2px 4px 4px #000;
    border-radius: 5px;
    background-color: #DEBE83;
    height: auto;
}

.divInfo{
	width:90%;
	text-align:center;
    font-size: 20px;
    padding-left: 10px;
    margin: 20px auto;
    font-weight: bold;

}
.info{
	background-color: #C6DADA  ;
	margin-bottom: 10px;
	color: #fff;
}

.dates > span{
    font-size: 20px;
    /*width: 300px;
    display: inline-block;*/
}


/*Para los pokemons favoritos*/
#imagen-favorito{
    width: 100%;
    height: 70%;
    padding:10px;
    background-color: #fff;
    border: 1px solid #000;
}
#imagen-favorito img{
    width: 100%;
    height: 100%;

}
#enlaceFavorito{
    display: inline-block;
    width: 33%;
    height: 40%;
    padding: 5px;
    /*border: 5px solid cornflowerblue;*/
    margin-bottom: 10px;
}
/*#opcion2{
        width: 100%;
        height: 100%;
}*/
#contenidoFavorito{
    padding: 5px;
    font-size: 20px;
    /* 	border-radius: 0 0 15px 15px ; */
    background-color: #D9E86C;
    color: #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
}
#enlaceFavorito:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);

}
#enlaceFavorito:hover  #imagen{
    -webkit-filter: brightness(100%); /* Safari */
    filter: brightness(100%);
}
#enlaceFavorito:hover #contenidoFavorito{
    background-color: #ccc;
}
/* background-size:cover; */
/* 	background-repeat:no-repeat; */
/* 	background-image: url(../images/imagenFondo.jpg); */